./obj/
./bin/
./Server/obj/
./Server/bin/
./Client/obj/
./Client/bin/
./Shared/obj/
./Shared/bin/
.vscode/
./Client/appsettings.Development.json
./Client/appsettings.json
./Server/appsettings.Development.json
./Server/appsettings.json
