obj/
bin/
Server/obj/
Server/bin/
Client/obj/
Client/bin/
Shared/bin/
Shared/obj/
vscode/
Client/appsettings.Development.json
Client/appsettings.json
Client/Properties/
Server/Properties/
Server/appsettings.Development.json
Server/appsettings.json
*.DS_Store
.git/
