.vscode
*.DS_Store
.git
obj
bin
Server/obj/
Server/bin/
Client/obj/
Client/bin/
Shared/bin/
Shared/obj/
Client/appsettings.Development.json
Client/appsettings.json
Client/Properties/
Server/Properties/
Server/appsettings.Development.json
Server/appsettings.json
