@layout MainLayout
@inject AppState AppState
@page "/"

@using Client.Shared
@using Client.Components		

<div class="container" style="height: 100%">
<div class="main">

    <Loading InProgress="IsLoading"></Loading>

    <h1 class="text-center mt-1">Offic</h1>

    <div class="text-center mt-3 mb-3">
        
        <LoginDisplay />

    </div>

<AuthorizeView>

    <Authorized>
        <div class="container">
            <div class="row bg-dark rounded">
                <div class="mt-2 col-sm-12">
                    <div class="card-body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Search</span>
                        </div>
                        
                        <SearchOwner />
                        <SearchRepo />

                    </div>
                    <Path />
        </div>
    </div>
        
    <ShowStarred />
    <List />
    <Editor />
    <NewFile />
    <!-- <ListFiles /> -->
    </div>
</div>

    </Authorized>

    <NotAuthorized>

        <h4 class="text-center mt-5">Authenticate yourself with GitHub and be able to view, create, modify and delete text files from repositories.</h4>
        
        <h5 class="text-center mt-3">Just provide a link and we will get the text for you.</h5>

    </NotAuthorized>
</AuthorizeView>
    
</div>
</div>

@code {
    bool IsLoading = false;
}
