@code {
    [Parameter]
    public bool InProgress { get; set; }
}

@if (InProgress) {
    <div class="spinner-overlay">
        <div class="spinner-container text-center">
            <div class="spinner-grow text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
}
