@inject HttpClient HttpClient

<AuthorizeView>
    <Authorized>
		<p>Hello <strong> @context.User.Identity.Name</strong>, your <span class="iconify mb-1" data-icon="octicon:logo-github" data-inline="false"> </span> Api info is: @RateLimits</p>
    </Authorized>
</AuthorizeView>

@code {

	string RateLimits;

	protected override async Task OnInitializedAsync(){
		var apiUrl = $"api/limits";
		RateLimits = await HttpClient.GetStringAsync(apiUrl);
	}
}
