@inherits LayoutComponentBase

<div class="main">    
    <div class="content px-4">
        @Body
    </div>
    <div class="content px-4">
        <MostStarred />
    </div>

    <div class="px-4">

    </div>
</div>
