@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <nav class="navbar navbar-dark bg-primary justify-content-md-center">
            Hello @context.User.Identity.Name your Github Api info is : <RateLimit />
        </nav>
    </Authorized>
</AuthorizeView>

<div class="main">    
    <div class="content px-4">
        @Body
    </div>
    <div class="content px-4">
        <MostStarred />
    </div>

    <div class="px-4">

    </div>
</div>
