@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <nav class="navbar navbar-dark bg-muted justify-content-md-center">
            <RateLimit />
        </nav>
    </Authorized>
</AuthorizeView>

<div class="main">    
    <div class="content px-4">
        @Body
    </div>

    <div class="px-4">

    </div>
</div>
