<AuthorizeView>
    <Authorized>
		<p>Hello <strong> @context.User.Identity.Name</strong>, your <span class="iconify mb-1" data-icon="octicon:logo-github" data-inline="false"> </span> Api info is: @RateLimits</p>
    </Authorized>
</AuthorizeView>
